<div class="container" >
    <h1>YOUR CONTACTS</h1>

            <table ng-repeat="contact in contacts">
                <tr><td>{{contact.id}}</td><td>{{contact.first_name}}</td></tr>
                <tr> <td></td>
                <td><a href="#/contacts/{{contact.id}}">view</a></td></tr>

        </table>


    <table class="table table-stripped">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>

